$wc-color: var(--wp-admin-theme-color);

.post-type-shop_order {
  td.vhc_order_items {
    width: 10ch;

    .vhc-show-order-items {
      padding: 3px 8px;
      cursor: pointer !important;
      color: $wc-color;
      border: 1px solid #ccc;
      border-radius: 3px;
      outline: 0 !important;
      background: #f5f5f5;
      box-shadow: none !important;
      line-height: 1;

      &:hover {
        color: $wc-color;
        border: 1px solid #b5b5b5;
        background: #f0f0f0;
      }

      &.no-link {
        cursor: pointer !important;
      }

      &.disabled {
        pointer-events: none;
      }
    }
  }

  .vhc-order-items-panel {
    box-sizing: border-box;
    position: fixed;
    z-index: 1001;
    top: 0;
    right: 0;
    width: 510px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    transition-duration: .3s;
    transition-property: transform box-shadow;
    transform: translateX(100%);
    background: #f0f0f0;
    transition-timing-function: ease-in-out;

    * {
      box-sizing: border-box;
    }

    &.is-open {
      transform: none;
      box-shadow: 0 8px 16px 0 rgba(85, 93, 102, .3);
    }

    .vhc-order-items-panel-header {
      height: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 16px;
      background: #e0e0e0;

      @media (min-width: 783px) {
        padding: 16px 24px;
      }

      h3 {
        margin: 0;
        padding: 0;
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
      }
    }

    .vhc-order-items-card {
      position: relative;
      display: grid;
      padding: 24px;
      padding: var(--main-gap);
      color: #757575;
      border-bottom: 1px solid #e0e0e0;
      background: #fff;
      font-size: 13px;
      font-size: .8125rem;
      grid-template-columns: 84px 1fr;
      grid-template-areas: "icon header"
        "icon body";

      &.empty-card {
        .placeholder {
          height: 16px;
          display: inline-block;
          animation: loading-fade 1.6s ease-in-out infinite;
          color: transparent;
          background-color: #e2e4e7;
        }

        .vhc-order-items-card-title {
          width: 80%;
        }

        .vhc-order-items-card-body {
          .placeholder {
            width: 60px;
            margin-bottom: 0;
          }
        }
      }

      .vhc-order-items-card-icon {
        grid-area: icon;
        fill: #e0e0e0;

        .vhc-product-image {
          position: relative;
          width: 60px;
          height: 60px;

          img {
            max-width: 100%;
            vertical-align: middle;
            border-radius: 50%;
          }
        }

        .placeholder {
          width: 48px;
          height: 48px;
        }
      }

      .vhc-order-items-card-header {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;

        @media (min-width: 783px) {
          display: -ms-grid;
          display: grid;
          grid-area: header;
          grid-template:
            'title date'
            'subtitle date'/1fr auto;
        }

        .vhc-order-items-card-title {
          margin: 0;
          font-size: 15px;
          font-size: 0.9375rem;
          order: 2;

          @media (min-width: 783px) {
            grid-area: title;
          }

          a {
            color: $wc-color;
          }
        }
      }

      .vhc-order-items-card-body {
        grid-area: body;

        .vhc-order-items-card-qty {
          padding: 3px 8px;
          color: #757575;
          border-radius: 3px;
          background: #f0f0f0;
        }
      }
    }
  }
}