$primary: var(--wp-admin-theme-color);
$white: #ffffff;
$black: #000000;

.post-type-shop_order {
  td.vhc_order_items {
    width: 10ch;

    .vhc-show-order-items {
      padding: 3px 8px;
      cursor: pointer !important;
      color: $primary;
      border: 1px solid #ccc;
      border-radius: 3px;
      outline: 0 !important;
      background: #f5f5f5;
      box-shadow: none !important;
      line-height: 1;

      &:hover {
        color: $primary;
        border: 1px solid #b5b5b5;
        background: #f0f0f0;
      }

      &.no-link {
        cursor: pointer !important;
      }

      &.disabled {
        pointer-events: none;
      }
    }
  }

  .vhc-items-panel {
    box-sizing: border-box;
    position: fixed;
    z-index: 1001;
    top: 0;
    right: 0;
    width: 430px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    transition-duration: 0.3s;
    transition-property: transform box-shadow;
    transform: translateX(100%);
    background: #f0f0f0;
    transition-timing-function: ease-in-out;

    * {
      box-sizing: border-box;
    }

    &.is-open {
      transform: none;
      box-shadow: 0 12px 12px 0 rgba(#555d66, 0.3);
    }

    .panel-header {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 16px 24px;
      background: #e0e0e0;

      h3 {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        color: #1e1e1e;
        font-size: 16px;
        font-weight: 600;
        line-height: 28px;
      }
    }

    .items-card {
      position: relative;
      display: grid;
      padding: 16px 24px;
      color: #757575;
      border-top: 1px solid #f0f0f0;
      background: $white;
      font-size: 13px;
      grid-template-columns: 84px 1fr;
      grid-template-areas: "icon header""icon body";

      &.empty-card {
        .placeholder {
          height: 16px;
          display: inline-block;
          animation: loading-fade 1.6s ease-in-out infinite;
          color: transparent;
          background-color: #e2e4e7;
        }

        .card-title {
          width: 80%;
        }

        .card-body {
          .placeholder {
            width: 60px;
            margin-bottom: 0;
          }
        }
      }

      .card-icon {
        grid-area: icon;
        fill: #e0e0e0;

        .image {
          position: relative;
          width: 60px;
          height: 60px;

          img {
            max-width: 100%;
            vertical-align: middle;
            border-radius: 50%;
          }
        }

        .placeholder {
          width: 48px;
          height: 48px;
        }
      }

      .card-header {
        display: grid;
        margin-bottom: 6px;
        grid-area: header;
        grid-template:
          "title date"
          "subtitle date"/1fr auto;

        .card-title {
          margin: 0;
          font-size: 15px;
          order: 2;
          grid-area: title;

          a {
            color: $primary;
          }
        }
      }

      .card-body {
        grid-area: body;

        .card-qty {
          padding: 3px 8px;
          color: #757575;
          border-radius: 3px;
          background: #f0f0f0;
        }
      }
    }
  }
}